//? COLOR VARIABLES
//FONT COLORS   
$primaryFontColor: white;
    
//BACKGROUND COLORS
$primaryBackgroundColor: black;
$secondaryBackgroundColor: #333;


//? SIZE VARIABLES
//FONT SIZES

//? PADDING
$leftPadding: 0 0 0 8px;