header {
    display: grid;
    grid-template-columns: 15% 30% 40% 15%;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    background-color: $primaryBackgroundColor;
    color: $primaryFontColor;
    height: $headerHeight;

    .headerLogo {
        height: $headerHeight;

        img {
            @extend %imgStyle;
        }
    }

    .headerSearch {
        display: flex;

        &__input {
            width: 300px;
            min-height: 30px;
            border: none;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            padding: $leftPadding;
            background: $secondaryBackgroundColor;
            color: $primaryFontColor;
        }

        &__button {
            cursor: pointer;
            width: 30px;
            height: 30px;
            border: none;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            background: $secondaryBackgroundColor;
            color: $primaryFontColor;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .headerLogin {
        a {
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                padding: $leftPadding;
            }
        }
    }
}