@font-face {
    font-family: 'openSans';
    src: url("/games-vault/font/openSans.ttf");
}
li {
    list-style: none;
}

a,
li {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
button,
a {
    color: var(--primaryFontColor);
    font-family: 'openSans', sans-serif;
}

p,
a,
span,
label,
button {
    font-size: $primaryFontSize;
}